<html>

<head>
    <title>
        App | Login
    </title>
    <link rel="stylesheet" href="./../styles/app.css">
    <link rel="stylesheet" href="./../styles/login.css">
    <script src="./../../Framework/framework.js"></script>
    <script src="./../actions/login.js"></script>
    <script>
    </script>
</head>

<body>
    <div class="display-flex justify-content-space-between">
        <div>
            Login
        </div>
        <div>
            <a href="./index.html">Home</a>
        </div>
    </div>

</body>

</html>