<html>

<head>
    <title>
        App | Profile
    </title>
    <link rel="stylesheet" href="./../styles/app.css">
    <link rel="stylesheet" href="./../styles/profile.css">
    <script src="./../../Framework/framework.js"></script>
    <script src="./../actions/profile.js"></script>
</head>

<body>
    <div class="display-flex justify-content-space-between">
        <div>
            Profile
        </div>
        <div>
            <a href="./index.html">Logout</a>
        </div>
    </div>
</body>

</html>